body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: gray;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 17%;
}

button {
  background-color: blueviolet;
  padding: 10px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  height: max-content;
}

#todo-list button {
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  color: #fff;
}

ul {
  width: 100%;
  padding: 0px;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

li.completed {
  background-color: rgba(0, 0, 0, 0.2);
}

li {
  list-style: none;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

#product-list {
  width: 100%;
}

.product {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
}

#cart-total {
  width: 100%;
  text-align: end;
}

#cart-items button {
  background-color: red;
}

#cart-items {
  width: 100%;
}
.single-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: gray;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 17%;
}

button {
  background-color: blueviolet;
  padding: 10px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  height: max-content;
}

form {
  display: flex;
}

.hidden {
  display: none;
}

#product-list {
  width: 100%;
}

.product {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
}
